{% extends 'main.html' %}
{% load static %}

{% block title %} {{titulo}} {% endblock %}

{% block main %}

    <form class="row g-3">
        <h1 class="mt-4">Registrar un Tipo de Tarea</h1>
        <hr>
        <div class="col-md-6">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombre">
        </div>
        <div class="col-md-12">
            <label for="textareaDescripcion" class="form-label">Descripción</label>
            <textarea class="form-control" id="textareaDescripcion" rows="3"></textarea>
        </div>

        <div>
            <div class="form-check col-md-12 mt-2">
                <input class="form-check-input" type="checkbox" value="" id="checkboxMateriales">
                <label class="form-check-label" for="checkboxMateriales">
                    Requiere materiales
                </label>
            </div>
            <div class="form-check col-md-4 mt-2">
                <input class="form-check-input" type="checkbox" value="" id="checkboxRepuestos">
                <label class="form-check-label" for="checkboxRepuestos">
                    Requiere repuestos
                </label>
            </div>
            <div class="form-check col-md-4 mt-2">
                <input class="form-check-input" type="checkbox" value="" id="checkboxPlanilla">
                <label class="form-check-label" for="checkboxPlanilla">
                    Requiere planilla de pintura
                </label>
            </div>
            
        </div>
        <div class="col-12 d-flex flex-row-reverse">
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </div>
    </form>

{% endblock %}