{% extends 'base.html' %}
{% load static %}

{% block title %} {{titulo}} {% endblock %}

{% block container %}

<!-- Segunda columna (formulario) -->
<div class="col-4">
    
    <form class="row g-3">
    <h1 class="mt-4">Registrar un cliente</h1>
    <hr>
    <h2 class="mt-0 mb-0">Cliente</h2>
    <div class="col-md-6">
        <label for="inputNombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputNombre">
    </div>
    <div class="col-md-6">
        <label for="inputApellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="inputApellido">
    </div>
    <div class="col-6">
        <label for="inputDni" class="form-label">Número de documento</label>
        <input type="number" class="form-control" id="inputDni" placeholder="12345678">
        <!-- <small id="mensajeDni" class="form-text text-muted">Será usado como clave principal</small> -->
    </div>
    <div class="col-md-6">
        <label for="inputTelefono" class="form-label">Número de teléfono</label>
        <input type="tel" class="form-control" id="inputTelefono">
    </div>
    <div class="col-12">
        <label for="inputDireccion" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="inputDireccion" placeholder="Calle 123">
    </div>
    <br>
    <hr>
    <h2 class="mt-0 mb-0">Vehículo</h2>
    <div class="col-md-4">
        <label for="inputPatente" class="form-label">Patente</label>
        <input type="text" class="form-control" id="inputPatente" placeholder="AAA### o AA###AA" pattern="([A-Z]{2}-\d{3}-[A-Z]{2}|[A-Z]{3}-\d{3})">
    </div>
    <!-- <br> -->
    <div class="col-md-4">
        <label for="inputPatentamiento" class="form-label">Año de patentamiento</label>
        <input type="number" class="form-control" id="inputPatentamiento">
        <!-- <small id="mensajeChasis" class="form-text text-muted">Menor a 12 años de antigüedad</small> -->
    </div>
    <div class="col-md-4">
        <label for="inputNroChasis" class="form-label">Número de chasis</label>
        <input type="text" class="form-control" id="inputNroChasis">
        <!-- <small id="mensajeChasis" class="form-text text-muted">Solo como referencia</small> -->
    </div>
    <div class="col-12 d-flex flex-row-reverse">
        <button type="submit" class="btn btn-primary mt-3">Guardar</button>
    </div>
    </form>
</div>

{% endblock %}