{% extends 'main.html' %}
{% load static %}

{% block title %} {{titulo}} {% endblock %}

{% block main %}

<!-- Segunda columna (formulario) -->
    <form class="row g-3">
        <h1 class="mt-4">Registrar un Empleado</h1>
        <hr>
        <div class="col-md-6">
            <label for="inputCuil" class="form-label">Cuil</label>
            <input type="number" class="form-control" id="inputCuil">
        </div>
        <div class="col-md-6">
            <label for="inputLegajo" class="form-label">Legajo</label>
            <input type="number" class="form-control" id="inputLegajo">
        </div>
        <div class="col-6">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombre">
        </div>
        <div class="col-md-6">
            <label for="inputApellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="inputApellido">
        </div>
        <div class="col-12 d-flex flex-row-reverse">
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </div>
    </form>

{% endblock %}