{% extends 'modal.html' %}
{% load crispy_forms_tags %}

{% block modal_title %} Modificar cantidad de un material {% endblock %}

{% block modal_body %} 
  {% crispy form form.helper %} 
{% endblock %}

{% block modal_footer %}
    <a id="btn-asignar" href="#" class="btn btn-primary" data-bs-dismiss="modal">Guardar</a>
{% endblock %}

{% block extrajs %}
<script type="text/javascript"> 
    document.addEventListener('DOMContentLoaded', () => {
    const element = document.getElementById('cantidad');

    // configuramos el contenido del modal
    element.addEventListener('show.bs.modal', (e) => {
        const btn = e.relatedTarget;
        const pk_material = btn.dataset.idMaterial;
        $('#id_cantidad').val(btn.dataset.cantidad);

        let input_pk;
        console.log($("input[name=pk]")[0])
        if (!$("input[name=pk]")[0]) {
            input_pk = document.createElement("input");
            input_pk.type = "hidden";
            input_pk.name = "pk";
        } else {
            input_pk = $("input[name=pk]")[0];
        }
        input_pk.value = pk_material;
        $("#modificarCantidadForm").append(input_pk)
    })

    $('#btn-asignar').on('click', (e) => {
        e.preventDefault();
        $('#modificarCantidadForm').submit();
    });
    })

    const input_cantidad = document.getElementById('id_cantidad')
    const submit_button = document.getElementById('btn-asignar')
    input_cantidad.addEventListener('input', (e) => {
        let value = e.currentTarget.value
        if (value <= 0) {
            submit_button.classList.add('disabled_anchor')
            submit_button.classList.add('btn-secondary')
        } else {
            submit_button.classList.remove('disabled_anchor')
            submit_button.classList.remove('btn-secondary')
        }
    })

</script>
{% endblock %}
