{% extends 'modal.html' %}
{% load crispy_forms_tags %}


{% block modal_title %} Registrar usuario {% endblock %}

{% block modal_body %}

{% crispy form form.helper %}  
<div id="registro"></div>
{% endblock %}

{% block modal_footer %}
  <a id="btn-registrar" href="#" class="btn btn-primary" data-bs-dismiss="modal">Registrar</a>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    const modal = document.getElementById('modalRegistrarUsuario')
    const submit_button = document.getElementById('btn-registrar')

    // configuramos el contenido del modal
    modal.addEventListener('show.bs.modal', (e) => {
      // debugger;
      const btn = e.explicitOriginalTarget || e.relatedTarget;
      $('#registroUsuarioForm').attr('action', btn.dataset.bsUrl);
    })

    $('#btn-registrar').on('click', (e) => {
      e.preventDefault();
      $('#registroUsuarioForm').submit();
    });

  });
</script>
{% endblock %}