{% extends 'modal.html' %}
{% load crispy_forms_tags %}

{% block modal_title %} Asignar tarea a empleado {% endblock %}

{% block modal_body %} 
  {% crispy form form.helper %} 
{% endblock %}

{% block modal_footer %}
    <a id="btn-asignar" href="#" class="btn btn-primary" data-bs-dismiss="modal">Seleccionar</a>
{% endblock %}

{% block extrajs %}
<script type="text/javascript"> 
document.addEventListener('DOMContentLoaded', () => {
  const element = document.getElementById('asignar');

  // configuramos el contenido del modal
  element.addEventListener('shown.bs.modal', (e) => {
    const btn = e.relatedTarget;
    $('#id_asignar-tarea').val(btn.dataset.idTarea);
  })

  $('.asignar').on('click', (e) => {
    const empleados = e.currentTarget.dataset.empleados.split(',')
    console.log(empleados)

    const select = document.getElementById('id_asignar-empleado')
    for (o of select.options){
      if (o.value) {
        if (!empleados.includes(o.value)){
          console.log('borrando', o)
          o.remove()
        } else {
          console.log('dejando', o)
        }
      } else {
        console.log('sin value', o)
      }
    }
  });

  $('#btn-asignar').on('click', (e) => {
    e.preventDefault();
    $('#asignarEmpleadoForm').submit();
  });

})
</script>
{% endblock %}
