{% extends 'template_ordenes.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{{titulo}}
{% endblock %}
{% block main %}

  {% block extra_css %}
      <link rel="stylesheet" href="{% static 'libs/fullcalendar/lib/main.css' %}" />
  {% endblock extra_css %}
  <h1>{{titulo}}</h1>


  <div id='calendar'></div>
  
  




{% endblock %}

{% block filtros%}
  <div id='datos'>

  </div>
{% endblock %}


{% block extrajs %}
<script>
  conectarBotonesAModal('.btn-eliminar')
</script>

<script src="{% static 'libs/fullcalendar/lib/main.js' %}"> </script>
<script src="{% static 'libs/fullcalendar/lib/locales-all' %}"> </script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          headerToolbar: {
            left: 'prev,next',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
            
            
          },
          events: function(info, successCallback, failureCallback) {
            
          },
          
          events: [
            
             {% for orden in object_list %}
                {
                title: "{{orden.cliente}}",
                start: "{{orden.turno | date:'c'}}",
                url: '/ordenes/ordenesTurnos/listarTurnos/detalleTurno/{{orden.pk}}'
                },
              {% endfor %}
            // etc...
          ],

          eventClick: function(info)  {

           info.jsEvent.preventDefault(); // don't let the browser navigate

            if (info.event.url) {
              $('#datos').load(info.event.url)
            }
          },   
            
            // etc...
          
          initialView: 'dayGridMonth'
        });
        calendar.render();
        calendar.setOption('locale','es'); 
      });

    </script>
{% endblock %}