{% extends 'template_ordenes.html' %} {% load static %} {% block extracss %}
<link rel="stylesheet" href="{% static 'libs/bootstrap/css/sidebars.css' %}" />
<link rel="stylesheet" href="{% static 'ordenes/css/detalles-orden.css' %}" />
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
{% endblock %} {% load crispy_forms_tags %} {% block title %} {{titulo}} {%endblock %} 

{% block main %}
<h1>{{titulo}}</h1>

<ul class="nav nav-tabs nav-fill mt-5" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active text-primary" data-bs-toggle="tab" data-bs-target="#sin-asignar" type="button" role="tab" aria-controls="sin-asignar" aria-selected="true">Sin asignar <span class="badge rounded-pill bg-primary">{{sinAsignar.count}}</span></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-primary" data-bs-toggle="tab" data-bs-target="#asignados" type="button" role="tab" aria-controls="asignados" aria-selected="false">Asignados <span class="badge rounded-pill bg-primary">{{asignados.count}}</span></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-primary" data-bs-toggle="tab" data-bs-target="#sin-finalizar" type="button" role="tab" aria-controls="sin-finalizar" aria-selected="false">En proceso <span class="badge rounded-pill bg-primary">{{sinFinalizar.count}}</span></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-primary" data-bs-toggle="tab" data-bs-target="#finalizados" type="button" role="tab" aria-controls="finalizados" aria-selected="false">Finalizados <span class="badge rounded-pill bg-primary">{{finalizados.count}}</span></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-primary" data-bs-toggle="tab" data-bs-target="#todos" type="button" role="tab" aria-controls="todos" aria-selected="false">Ver todos</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="sin-asignar" role="tabpanel" aria-labelledby="sin-asignar-tab">
    {% include './detalleordentrabajoestado_list.html' with listado=sinAsignar %}
  </div>
  <div class="tab-pane fade show" id="asignados" role="tabpanel" aria-labelledby="asignados-tab">
    {% include './detalleordentrabajoestado_list.html' with listado=asignados %}
  </div>
  <div class="tab-pane fade" id="sin-finalizar" role="tabpanel" aria-labelledby="sin-finalizar-tab">
    {% include './detalleordentrabajoestado_list.html' with listado=sinFinalizar %}
  </div>
  <div class="tab-pane fade" id="finalizados" role="tabpanel" aria-labelledby="finalizados-tab">
    {% include './detalleordentrabajoestado_list.html' with listado=finalizados %}
  </div>
  <div class="tab-pane fade" id="todos" role="tabpanel" aria-labelledby="todos-tab">
    {% include './detalleordentrabajoestado_list.html' with listado=object_list %}
  </div>
</div>

{% endblock %}

{% block modals %}

{% include "./asignar-tarea.html" with idModal='asignar' form=asignarEmpleadoForm %}
{% include "./finalizar-tarea.html" with idModal='finalizar' form=finalizarTareaForm %}

{% endblock %}