{% extends 'template_ordenes.html' %} {% load static %} {% block extracss %}
<link rel="stylesheet" href="{% static 'libs/bootstrap/css/sidebars.css' %}" />
<link rel="stylesheet" href="{% static 'ordenes/css/detalles-orden.css' %}" />
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
{% endblock %} {% load crispy_forms_tags %} {% block title %} {{titulo}} {%endblock %} 

{% block main %}
<h1>{{titulo}}</h1>

<ul class="nav nav-tabs nav-fill mt-5" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active text-primary" id="home-tab" data-bs-toggle="tab" data-bs-target="#sin-asignar" type="button" role="tab" aria-controls="sin-asignar" aria-selected="true">Sin asignar</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-primary" id="profile-tab" data-bs-toggle="tab" data-bs-target="#sin-finalizar" type="button" role="tab" aria-controls="sin-finalizar" aria-selected="false">Sin finalizar</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-primary" id="contact-tab" data-bs-toggle="tab" data-bs-target="#finalizados" type="button" role="tab" aria-controls="finalizados" aria-selected="false">Finalizados</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-primary" id="contact-tab" data-bs-toggle="tab" data-bs-target="#todos" type="button" role="tab" aria-controls="todos" aria-selected="false">Ver todos</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="sin-asignar" role="tabpanel" aria-labelledby="home-tab">Sin asignar!!!</div>
  <div class="tab-pane fade" id="sin-finalizar" role="tabpanel" aria-labelledby="profile-tab"> Sin finalizar!!!</div>
  <div class="tab-pane fade" id="finalizados" role="tabpanel" aria-labelledby="contact-tab">Finalizados</div>
  <div class="tab-pane fade" id="todos" role="tabpanel" aria-labelledby="contact-tab">Todos!!!!</div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 tablero mb-5">
  {% for detalle_orden in object_list %}
    <div class="col">
      <div class="card shadow-lg">

        {% if detalle_orden.esta_sin_iniciar %}
          <div class="card-header text-light bg-danger"><i class="fas fa-times"></i> Sin iniciar</div>
        {% elif detalle_orden.esta_en_proceso %}
          <div class="card-header text-light bg-primary"><i class="fas fa-tools"></i> En proceso</div>
        {% elif detalle_orden.esta_finalizado and detalle_orden.exitosa %}
          <div class="card-header text-light bg-success"><i class="fas fa-check"></i> Finalizado correctamente</div>
        {% elif detalle_orden.esta_finalizado and not detalle_orden.exitosa %}
          <div class="card-header text-light bg-warning"><i class="fas fa-check"></i> Finalizado no correctamente</div>
        {% endif %}

        <div class="card-body">
          <h5 class="card-title">{{detalle_orden.tarea}}</h5>
          {% if detalle_orden.observaciones != None %}
            <p class="card-text">{{detalle_orden.observaciones}}</p>
          {% endif %}
        </div>
        <ul class="list-group list-group-flush">
          
          <li class="list-group-item">
            <i class="fas fa-user"></i> 
            {% if detalle_orden.empleado != None %}
              {{detalle_orden.empleado}}
            {% else %}
              Sin asignar
            {% endif %}
          </li>

          <li class="list-group-item">
            Inicio: 
            {% if detalle_orden.inicio != None %}
              {{detalle_orden.inicio}}
            {% else %}
              Sin comenzar
            {% endif %}
          </li>

          <li class="list-group-item">
            Fin: 
            {% if detalle_orden.fin != None %}
              {{detalle_orden.fin}}
            {% else %}
              Sin terminar
            {% endif %}
          </li>

          <li class="list-group-item text-center">

            {% if perms.ordenes.can_asignar_trabajo and detalle_orden.puedo_asignar %}
              <a href="#" class="btn btn-primary">
                <i class="fas fa-user-plus"></i> Asignar
              </a>
            {% endif %}

            {% if detalle_orden.empleado != None %}
              {% if detalle_orden.puedo_iniciar %}
                <a href="#" class="btn btn-success">
                  <i class="fas fa-times"></i> Comenzar
                </a>
              {% endif %}

              {% if detalle_orden.puedo_finalizar %}
                <a href="#" class="btn btn-success">
                  <i class="fas fa-check"></i> Finalizar
                </a>
                <a href="#" class="btn btn-danger">
                  <i class="fas fa-times"></i> Finalizar mal
                </a>
              {% endif %}
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  {%endfor%}
</div>

{% endblock %}
