<div class="row row-cols-1 row-cols-md-3 g-4 tablero mb-5">
  {% for detalle_orden in listado %}
    <div class="col">
      <div class="card shadow-lg">

        {% if detalle_orden.esta_sin_iniciar %}
          <div class="card-header text-light bg-danger"><i class="fas fa-exclamation-circle"></i> Sin iniciar</div>
        {% elif detalle_orden.esta_en_proceso %}
          <div class="card-header text-light bg-primary"><i class="fas fa-tools"></i> En proceso</div>
        {% elif detalle_orden.esta_finalizado and detalle_orden.exitosa %}
          <div class="card-header text-light bg-success"><i class="fas fa-check"></i> Finalizado correctamente</div>
        {% elif detalle_orden.esta_finalizado and not detalle_orden.exitosa %}
          <div class="card-header text-light bg-warning"><i class="fas fa-check"></i> Finalizado no correctamente</div>
        {% endif %}

        <div class="card-body">
          <h5 class="card-title">{{detalle_orden.tarea}}</h5>
          {% if detalle_orden.observaciones != None %}
            <p class="card-text">{{detalle_orden.observaciones}}</p>
          {% endif %}
        </div>
        <ul class="list-group list-group-flush">
          
          <li class="list-group-item">
            <i class="fas fa-user"></i> 
            {% if detalle_orden.empleado != None %}
              {{detalle_orden.empleado}}
            {% else %}
              Sin asignar
            {% endif %}
          </li>

          <li class="list-group-item">
            Inicio: 
            {% if detalle_orden.inicio != None %}
              {{detalle_orden.inicio}}
            {% else %}
              Sin comenzar
            {% endif %}
          </li>

          <li class="list-group-item">
            Fin: 
            {% if detalle_orden.fin != None %}
              {{detalle_orden.fin}}
            {% else %}
              Sin finalizar
            {% endif %}
          </li>

          <li class="list-group-item text-center">

            {% if perms.ordenes.can_asignar_trabajo and detalle_orden.puedo_asignar %}
              <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#asignar">
                <i class="fas fa-user-plus"></i> Asignar
              </button>
            {% endif %}

            {% if detalle_orden.empleado != None %}
              {% if detalle_orden.puedo_iniciar %}
                <a href="#" class="btn btn-success">
                  <i class="fas fa-times"></i> Comenzar
                </a>
              {% endif %}

              {% if detalle_orden.puedo_finalizar %}
                <a href="#" class="btn btn-success">
                  <i class="fas fa-check"></i> Finalizar
                </a>
                <a href="#" class="btn btn-danger">
                  <i class="fas fa-times"></i> Finalizar mal
                </a>
              {% endif %}
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  {% empty %}
    <div class="alert alert-primary w-100 text-center" role="alert">
      No hay detalles que coincidan con el estado seleccionado
    </div>
  {%endfor%}
</div>

{% include "./asignar-tarea.html" with idModal='asignar'%}