{% extends 'template_ordenes.html' %} {% load static %} {% block extracss %}
<link rel="stylesheet" href="{% static 'libs/bootstrap/css/sidebars.css' %}" />
<link rel="stylesheet" href="{% static 'ordenes/css/detalles-orden.css' %}" />
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
{% endblock %} {% load crispy_forms_tags %} {% block title %} {{titulo}} {%endblock %} 

{% block main %}
<h1>{{titulo}}</h1>

<div class="row row-cols-1 row-cols-md-3 g-4 tablero">
  {% for detalle_orden in object_list %}
    <div class="col">
      <div class="card shadow-lg">
        <!-- <div class="card-header">Tarea</div> -->
        <div class="card-body">
          <h5 class="card-title">{{detalle_orden.tarea}}</h5>
          <p class="card-text">{{detalle_orden.observaciones}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fas fa-user"></i> 
            {% if detalle_orden.empleado != None %}
              {{detalle_orden.empleado}}
            {% else %}
              Sin asignar
            {% endif %}
          </li>
          <li class="list-group-item">
            Inicio: 
            {% if detalle_orden.inicio != None %}
              {{detalle_orden.inicio}}
            {% else %}
              Sin comenzar
            {% endif %}
          </li>
          <li class="list-group-item">
            Fin: 
            {% if detalle_orden.fin != None %}
              {{detalle_orden.fin}}
            {% else %}
              Sin terminar
            {% endif %}
          </li>
          <li class="list-group-item">
            {% if detalle_orden.exitosa %}
              Finalización exitosa
            {% else %}
              Finalización no exitosa
            {% endif %}
          </li>
          <li class="list-group-item text-center">
            {% if perms.ordenes.can_asignar_trabajo and detalle_orden.puedo_asignar %}
              <a href="#" class="btn btn-primary">
                <i class="fas fa-thumbtack"></i><i class="fas fa-user-plus"></i> Asignar
              </a>
            {% endif %}
            {% if detalle_orden.empleado == None %}
              <!-- <a href="#" class="btn btn-primary">
                <i class="fas fa-thumbtack"></i> Tomar
              </a> -->
            {% else %}
              <a href="#" class="btn btn-danger">
                <i class="fas fa-times"></i> Cancelar
              </a>
              <a href="#" class="btn btn-success">
                <i class="fas fa-check"></i> Finalizar
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  {%endfor%}
</div>

{% endblock %}
