{% extends 'modal.html' %}
{% load crispy_forms_tags %}

{% block modal_title %} Finalizar una tarea {% endblock %}

{% block modal_body %} 
  {% crispy form form.helper %} 
{% endblock %}

{% block modal_footer %}
    <a id="btn-finalizar" href="#" class="btn btn-primary" data-bs-dismiss="modal">Finalizar</a>
{% endblock %}

{% block extrajs %}
<script type="text/javascript"> 
document.addEventListener('DOMContentLoaded', () => {
  const element = document.getElementById('finalizar');

  // configuramos el contenido del modal
  element.addEventListener('show.bs.modal', (e) => {
    const btn = e.explicitOriginalTarget;
    console.log(btn);
    $('#id_finalizar-tarea').val(btn.dataset.idTarea);
  })

  $('#btn-finalizar').on('click', (e) => {
    e.preventDefault();
    $('#finalizarTareaForm').submit();
  });
})
</script>
{% endblock %}
