{% extends 'template_orden_trabajo.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block main %}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">

      <div class="ibox-title">
        <h1 class="mb-4">Ver Orden de trabajo</h1>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div
            class="ibox border border-primary rounded p-3 h-100 p-4">
            <h3>
              {{ object.cliente.nombre }}, {{ object.cliente.apellido }}
            </h3>
            <span>
              <i class="fas fa-car-side"></i> {{ object.vehiculo.patente }} ({{ object.vehiculo.modelo }}) <br>
            </span>

            <span>
              <i class="far fa-flag"></i> ESTADO: {{ object.get_estado_display }} <br>
            </span>

            <span>
              <i class="fa-regular fa-calendar"></i> TURNO: {{ object.turno }} <br>
            </span>

            {% if object.vehiculo_ingreso %}
              <span>
                <i class="fa-solid fa-arrow-right"></i> INGRESO: {{ object.ingreso }} <br>
              </span>
            {%endif%}

            {% if object.vehiculo_egreso %}
              <span>
                <i class="fa-solid fa-arrow-left"></i> EGRESO: {{ object.egreso }} <br>
              </span>
            {%endif%}

          </div>
        </div>
        <div class="col-md-3">
          <div class="border border-primary rounded p-3">
            <h5>Acciones</h5>
            {% if perms.ordenes.delete_ordendetrabajo %}
              {% if object.puede_cancelarse %}
              <a href="#" data-bs-toggle="modal"
                data-bs-target="#modalEliminarOrden"
                data-bs-nombre="{{object.cliente}}"
                data-bs-url="{% url 'cancelarOrden' object.pk %}"
                class="btn-eliminar btn btn-danger m-1 w-100">
                <i class="fas fa-trash-alt"></i>
                Cancelar orden de trabajo
              </a>
              {% endif %}
            {% endif %}
            {% if perms.ordenes.change_turnoorden %}
              {% if object.puede_cambiar_turno %}
                <a href="{% url 'modificarOrden' object.pk %}"
                  class="btn btn-primary m-1 w-100">
                  <i class="fas fa-pencil-alt"></i>
                  Modificar fecha de turno
                </a>
              {% endif %}
            {% endif %}
            {% if perms.facturas.add_factura %}
              {% if object.puede_facturarse %}
                <a href="{% url 'crearFactura' object.pk %}" class="btn btn-success m-1 w-100">
                  <i class="fas fa-check-circle"></i>
                  Facturar Orden
                </a>
              {% endif %}
            {% endif %}

            {% if perms.ordenes.view_factura %}
            {% if object.tiene_factura %}
            <a href="{% url 'detallesFactura' object.get_factura.pk %}"
              class="btn btn-primary m-1 w-100">
              <i class="fas fa-eye"></i>
              Ver factura 
            </a>
            {% endif %}
            {% endif %}

            
            {% if perms.ordenes.add_presupuesto %}
              {% if object.puede_ampliarse %}
                <a href="{% url 'ampliarPresupuesto' object.get_ultimo_presupuesto.pk %}" class="btn btn-primary m-1 w-100">
                  <i class="fa-solid fa-file-circle-plus"></i>
                  Ampliar presupuesto
                </a>
              {% endif %}
            {% endif %}
            {% if perms.ordenes.add_presupuesto %}
              {% if object.puede_ingresar_vehiculo %}
                <a href="{% url 'registrarIngresoVehiculo' object.pk %}" class="btn btn-primary m-1 w-100">
                  <i class="fa-solid fa-car"></i>
                  Registrar Ingreso del Vehiculo
                </a>
              {% endif %}
            {% endif %}
            {% if perms.ordenes.view_presupuesto %}
              <a href="{% url 'detallesPresupuesto' object.get_ultimo_presupuesto.pk %}"
                class="btn btn-primary m-1 w-100">
                <i class="fas fa-eye"></i>
                Ver presupuesto 
              </a>
            {% endif %}
            {% if object.estado == 2 or object.estado == 6 %}
              <span>La orden de trabajo ha sido <b>{{object.get_estado_display}}</b>. No hay acciones disponibles.</span>
            {%endif%}

            {% if object.puede_retirar_vehiculo %}
              {% if object.pagado %}
                <span>La orden de trabajo se encuentra <b>{{object.get_estado_display}}</b>. Para finalizar la orden de trabajo, el vehículo debe ser entregado al cliente.</span>

                <a href="{% url 'registrarEgresoVehiculo' object.pk %}" class="btn btn-primary m-1 w-100">
                  <i class="fa-solid fa-car"></i>
                  Registrar egreso de vehiculo
                </a>
              {%endif%}

              {% if object.tiene_factura and object.cliente.vip %}
                <span>La orden de trabajo se encuentra <b>{{object.get_estado_display}}</b> con pago pendiente. El cliente es <b>VIP</b>. Para finalizar la orden de trabajo, el vehículo debe ser entregado al cliente.</span>

                <a href="{% url 'registrarEgresoVehiculo' object.pk %}" class="btn btn-primary m-1 w-100">
                  <i class="fa-solid fa-car"></i>
                  Registrar egreso del vehiculo
                </a>
              {%endif%}
            {%endif%}
          </div>
        </div>
      </div>

        <div class="row mt-4">
          <div class="col-md-9 mt-2">
            <div class="ibox-content">
              <div>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Tarea</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Observaciones</th>
                        <th scope="col">Empleado</th>
                        <th scope="col">Inicio</th>
                        <th scope="col">Fin</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for detalle in object.detalles.all %}
                        <tr class="{% if detalle.fin and detalle.exitosa %} table-success {% elif not detalle.exitosa%} table-danger {% endif %}">
                          <td>{{detalle.tarea.nombre}}</td>
                          <td>{{detalle.tarea.tipo}}</td>
                          <td>{{detalle.observaciones|default_if_none:""}}</td>
                          <td>{{detalle.empleado|default_if_none:"S/Asignar"}}</td>
                          <td>{% firstof detalle.inicio '' %}</td>
                          <td>{% firstof detalle.fin '' %}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>

                <div>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Cantidad presupuestada</th>
                          <th scope="col">Cantidad utilizada</th>
                          <th scope="col">Repuesto</th>
                          <th scope="col">Tipo</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for repuesto in object.orden_repuestos.all %}
                        <tr class="bg-transition">
                          <td>{{repuesto.cantidad_presupuestada}}</td>
                          <td>{{repuesto.cantidad_utilizada}}</td>
                          <td>{{repuesto.repuesto.nombre}}</td>
                          <td>{{repuesto.repuesto.get_tipo_display}}</td>
                        </tr>

                        {% empty %}
                          <tr>
                            <td>No hay repuestos</td>
                            <td>n/a</td>
                            <td>n/a</td>
                            <td>n/a</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>


                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Cantidad presupuestada</th>
                          <th scope="col">Cantidad utilizada</th>
                          <th scope="col">Material</th>
                          <th scope="col">Tipo</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for material in object.orden_materiales.all %}
                          <tr class="bg-transition">
                            <td>{{ material.cantidad_presupuestada }} {{ material.material.tipo.get_unidad_medida }}</td>
                            <td>{{ material.cantidad_utilizada }} {{ material.material.tipo.get_unidad_medida }}</td>
                            <td>{{material.material.nombre}}</td>
                            <td>{{material.material.tipo}}</td>
                          </tr>
                        {% empty %}
                          <tr>
                            <td>No hay materiales </td>
                            <td>n/a</td>
                            <td>n/a</td>
                            <td>n/a</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>


                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Color</th>
                          <th scope="col">Detalle asociado</th>
                          <th scope="col">Ver</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for planilla in object.get_planillas_pintura %}
                          <tr class="bg-transition">
                            <td>{{ planilla.nombre_de_color }}</td>
                            {% if perms.ordenes.change_planilladepintura %}
                            <td>{{planilla.orden.tarea.nombre}}</td>
                            <td><a href="{% url 'modificarPlanilla' planilla.pk %}">Ver detalle</a></td>
                            {% endif %}
                          </tr>
                        {% empty %}
                          <tr>
                            <td>No hay planillas de pintura</td>
                            <td>n/a</td>
                            <td>n/a</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="ibox-content mb-4">
                <a href="{% url 'imprimirOrden' object.pk %}" class="btn btn-primary pull-right">
                  <i class="fa fa-print" aria-hidden="true"></i> Imprimir
                </a>
              </div>
            </div>
            </div>

          </div>
        </div>

{% endblock %}

{% block modals %}
  {% include './ordendetrabajo_confirm_delete.html' with idModal='modalEliminarOrden' %}
{% endblock %}

{% block extrajs %}
  <script>
    conectarBotonesAModal('.btn-eliminar', 'modalEliminarOrden')
  </script>
{% endblock %}