{% extends 'template_orden_trabajo.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block main %}


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="ibox-title">
            <h1 class="mb-4">Ver Orden de trabajo</h1>
        </div>

        <div class="row">

            <div class="col-md-9">
                
                <div class="ibox border border-primary rounded p-3 h-100 p-4">
                    <h3>
                        {{ object.cliente.nombre }}, {{ object.cliente.apellido }}
                    </h3>
                    <span>
                        <i class="fas fa-car-side"></i> {{ object.vehiculo.patente }} ({{ object.vehiculo.modelo}}) <br>

                    </span>

                    <span>
                        <i class="far fa-flag"></i> ESTADO: {{ object.get_estado_display}} <br>
                    </span>

                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6 mt-2">
                    <div class="ibox-content">
                        <div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Tarea</th>
                                            <th scope="col">Tipo</th>
                                            <th scope="col">Observaciones</th>
                                            <th scope="col">Empleado asignado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for detalle in object.detalles.all %}
                                        <tr class="bg-transition">
                                            <td>{{ detalle.tarea.nombre }}</td>
                                            <td>{{ detalle.tarea.tipo }}</td>
                                            <td>{{ detalle.observaciones|default_if_none:"" }}</td>
                                            <td>{{ detalle.empleado|default_if_none:"S/Asignar" }}</td>
                                        </tr>
                                    </tbody>
                            </div>

                            {% endfor %}
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Cantidad</th>
                                                <th scope="col">Repuesto</th>
                                                <th scope="col">Tipo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for repuesto in object.repuestos.all %}
                                            <tr class="bg-transition">
                                                <td> {{ repuesto.cantidad }}</td>
                                                <td>{{ repuesto.nombre }}</td>
                                                <td>{{ repuesto.get_tipo_display }}</td>

                                            </tr>

                                            {% empty %}
                                            <tr>
                                                <td>No hay Repuestos</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            

                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Material</th>
                                            <th scope="col">Tipo</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for material in object.materiales.all %}
                                        <tr class="bg-transition">
                                            <td>{{ material.cantidad }} {{ material.tipo.get_unidad_medida_display}}
                                            </td>
                                            <td>{{ material.nombre }}</td>
                                            <td>{{ material.tipo }}</td>
                                            </td>
                                        </tr>

                                        {% empty %}
                                        <tr>
                                            <div class="alert alert-primary" role="alert">
                                                No se han cargado materiales
                                            </div>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="ibox-content mb-4">
                        <button class="btn btn-primary pull-right"><i class="fa fa-print" aria-hidden="true"></i>
                            Imprimir</button>
                        <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Volver</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="border border-primary rounded p-3">
                        <h5>Acciones</h5>
                        {% if object.puede_cancelarse %}
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalEliminarOrden"
                                data-bs-nombre="{{object.cliente}}" data-bs-url="{% url 'cancelarOrden' object.pk %}"
                                class="btn-eliminar btn btn-danger m-1 w-100"><i class="fas fa-trash-alt"></i>
                                Cancelar orden de trabajo 
                            </a>
                        {% endif %}
                        {% if object.puede_cambiar_turno %}
                            <a href="{% url 'modificarOrden' object.pk %}" class="btn btn-primary m-1 w-100"><i
                                    class="fas fa-pencil-alt"></i> Modificar fecha de turno 
                            </a>
                        {% endif %}
                        {% if object.puede_facturarse %}
                            <a href="{% url 'crearFactura' object.pk %}" class="btn btn-success m-1 w-100">
                                <i class="fas fa-check-circle"></i> Facturar Orden</a>
                            </a>
                        {% endif %}
                        {% if not object.puede_cancelarse and not object.puede_cambiar_turno and not object.puede_facturarse %}
                            <span>La orden de trabajo se encuentra "<b>{{object.get_estado_display}}</b>". No hay acciones disponibles</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block modals %}
{% include './ordendetrabajo_confirm_delete.html' with idModal='modalEliminarOrden' %}

{% endblock %}

{% block extrajs %}
<script>
    conectarBotonesAModal('.btn-eliminar', 'modalEliminarOrden')
</script>
{% endblock %}