{% extends 'template_ordenes.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block main %}
<div class="col-8">
    <h3>{{ titulo }}</h3>
    
    <form action="{{ form.helper.form_action }}" method="post">
        {% crispy form form.helper %}
        <div data-formset="detalles" id="detalles">
            {% crispy detalle_planilla_formset detalle_planilla_formset_helper %}
        </div>
        <input type="submit" class="btn btn-primary mt-3" value="Guardar"/>
    </form>
</div>
{% endblock %}

{% block extrajs %}
<script>

    const setRequired = () => {
        const inputs_formula = [...document.querySelectorAll('tbody input[id$=formula]')].slice(1)
        const inputs_cantidad = [...document.querySelectorAll('tbody input[id$=cantidad]')].slice(1)
        const inputs = inputs_formula.concat(inputs_cantidad)

        for (let input of inputs) {
            input.setAttribute('required', true)
        }
    }

    // Pongo como required los renglones del formset
    window.addEventListener('load', () => {
        setRequired()

        boton_agregar = document.querySelectorAll('tfoot a')[0]
        console.log({boton_agregar})
        boton_agregar.addEventListener('click', setRequired)
    });


</script>
{% endblock %}