{% extends 'template_ordenes.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block main %}
<div class="col-8">
    <h3>{{ titulo }}</h3>

    
    <form action="{{ form.helper.form_action }}" method="post">
        {% crispy form form.helper %}
        <div data-formset="presupuesto_materiales">
            {% crispy presupuesto_material_formset presupuesto_material_formset_helper %}
        </div>
        <div data-formset="presupuesto_repuestos">
            {% crispy presupuesto_repuesto_formset presupuesto_repuesto_formset_helper %}
        </div>
    </form>
</div>
{% endblock %}