{% extends 'template_presupuesto.html' %}   
<!-- Este template hereda de un html distinto al resto -->

{% load crispy_forms_tags %}
{% load static %}

{% block main %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="ibox-title">
        <h1 class="mb-4">Ver presupuesto</h1>
    </div>

    <div class="row">

        <div class="col-md-9">
            <div class="ibox border border-primary rounded p-3 h-100 p-4">
                <h3>
                    {{ object.cliente.nombre }}, {{ object.cliente.apellido }}
                </h3>
                <span>
                    <i class="fas fa-car-side"></i>  {{ object.vehiculo.patente }} ({{ object.vehiculo.modelo}}) <br>
                    <i class="fas fa-calendar"></i> Válido por {{ object.validez}} días
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox border border-primary rounded p-3 h-100 d-flex justify-content-center flex-column align-items-center">
                <div class="ibox-title">
                    <h5> Total estimado</h5>
                </div>
                <div class="ibox-content">
                    <h2 class="font-bold text-primary">
                        <i class="fas fa-dollar-sign"></i> {{presupuesto.precio_estimado}}
                    </h2>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-4">
        <span>(<strong>{{object.cantidad_detalles}}</strong>) elementos</span>   
        
        <div class="col-md-9 mt-2">
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            {% for tarea in object.tareas.all %}
                                <tr>
                                    <td class="desc w-75">
                                        <small> <span class="text-primary"><i class="fas fa-thumbtack"></i> Tarea</span> | ${{ tarea.precio }} c/u</small>
                                        <h4>
                                            {{ tarea.nombre }}
                                        </h4>
                                        <p class="small">
                                            {{ tarea.descripcion }}
                                        </p>
                                    </td>
                                    <td class="align-middle">
                                        <input type="text" class="form-control" placeholder="1" disabled>
                                    </td>
                                    <td class="align-middle">
                                        <h4>
                                            ${{ tarea.precio }}
                                        </h4>
                                    </td>
                                </tr>
                            {% endfor %}

                            {% for repuesto in object.repuestos.all %}
                                <tr>
                                    <td class="desc">
                                        <small><span class="text-danger"><i class="fas fa-cog"></i> Repuesto</span> | ${{ repuesto.precio }} c/u</small>
                                        <h4>
                                            {{ repuesto }}
                                        </h4>
                                        <p class="small">
                                            {{ repuesto.get_tipo_display }}
                                        </p>
                                </td>
                                    <td width="65" class="align-middle">
                                        <input type="text" class="form-control" placeholder="1" disabled>
                                    </td>
                                    <td class="align-middle">
                                        <h4 class="text-right">
                                            ${{ repuesto.precio }}
                                        </h4>
                                    </td>
                                </tr>
                            {% empty %}
                                <div class="alert alert-primary m-0" role="alert">
                                    No se han cargado repuestos
                                </div>
                            {% endfor %}

                            {% for material in object.materiales.all %}
                                <tr>
                                    <td class="desc">
                                        <small><span class="text-success"><i class="fas fa-box-open"></i> Material</span> | ${{ material.precio }} c/u</small>
                                        <h4>
                                            {{ material.nombre }}
                                        </h4>
                                        <p class="small">
                                            {{ material.tipo }}
                                        </p>
                                    </td>
                                    <td width="65" class="align-middle">
                                        <input type="text" class="form-control" placeholder="1" disabled>
                                    </td>
                                    <td class="align-middle">
                                        <h4 class="text-right">
                                            ${{ material.precio }}
                                        </h4>
                                    </td>
                                </tr>
                            {% empty %}
                                <div class="alert alert-primary" role="alert">
                                    No se han cargado materiales
                                </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="ibox-content mb-4">
                <a href="{% url 'imprimirPresupuesto' object.pk %}" class="btn btn-primary pull-right">
                    <i class="fa fa-print" aria-hidden="true"></i> Imprimir
                </a>
                <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Volver</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="border border-primary rounded p-3">
                <h5>Acciones</h5>
                <button href="#" 
                data-bs-toggle="modal" 
                data-bs-target="#customModal"
                data-bs-nombre="{{presupuesto.cliente.apellido}}" 
                data-bs-url="{% url 'eliminarPresupuesto' presupuesto.pk %}" 
                class="btn-eliminar btn btn-danger m-1 w-100"><i class="fas fa-trash-alt"></i> Cancelar </button>

                <a href="{% url 'modificarPresupuesto' presupuesto.pk %}" class="btn btn-primary m-1 w-100"><i class="fas fa-pencil-alt"></i> Modificar </a>
                <button class="btn btn-primary m-1 w-100"><i class="fas fa-plus-circle"></i> Ampliar </button>
                <a href="{% url 'crearOrden' presupuesto.pk %}" class="btn btn-success m-1 w-100"><i class="fas fa-check-circle"></i> Confirmar </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %} 
{% include './presupuesto_confirm_delete.html' %}
{% endblock %}

{% block extrajs %} 
<script>
  conectarBotonesAModal('.btn-eliminar')
</script>
{% endblock %}