{% extends 'template_facturas.html' %}
<!-- Este template hereda de un html distinto al resto -->

{% load crispy_forms_tags %}
{% load static %}

{% block main %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="ibox-title">
            <h1 class="col-md-4 ">Ver Factura</h1>
        </div>

        <div class="row">

            <div class="col-md-9">
                <div class="ibox border border-primary rounded p-3 h-100 p-4">
                    <h3>
                        {{ object.orden.cliente.nombre }}, {{ object.orden.cliente.apellido }}
                    </h3>
                    <span>
                        <i class="fas fa-car-side"></i> {{ object.orden.vehiculo.patente }} ({{object.orden.vehiculo.modelo}}) <br>

                    </span>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover {% if filtros %} sortable{% endif %}">
                    <thead>
                        <tr>
                            <th scope="col">Tarea</th>
                            <th scope="col">Precio</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for detalle in object.orden.detalles.all %}
                        <tr>
                            <td>{{ detalle.tarea.nombre }}</td>
                            <td>{{ detalle.tarea.precio }}</td>

                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-hover {% if filtros %} sortable{% endif %}">
                    <thead>
                        <tr>
                            <th scope="col">Articulo Repuesto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio Unitario</th>
                            <th scope="col">Precio Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for repuesto in object.orden.orden_repuestos.all %}
                        <tr>
                            <td>{{ repuesto.repuesto.nombre }}</td>
                            <td>{{ repuesto.cantidad }}</td>
                            <td>{{ repuesto.repuesto.precio }}</td>
                            <td>{{ repuesto.precio }}</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-hover {% if filtros %} sortable{% endif %}">
                    <thead>
                        <tr>
                            <th scope="col">Articulo Material</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio Unitario</th>
                            <th scope="col">Precio Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for material in object.orden.orden_materiales.all %}
                        <tr>
                            <td>{{ material.material.nombre }}</td>
                            <td>{{ material.cantidad }}</td>
                            <td>{{ material.material.precio }}</td>
                            <td>{{ material.precio }}</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
    </div>
    <div class="row">
    <div class="col-md-6">
        <div
            class="ibox border border-primary rounded p-3 h-100 d-flex justify-content-center flex-column align-items-center">
            <div class="ibox-title">
                <h5> Total presupuestado </h5>
            </div>
            <div class="ibox-content">
                <h2 class="font-bold text-primary">
                    <i class="fas fa-dollar-sign"></i> {{object.orden.precio_total_presupuestado}}
                </h2>
            </div>
        </div>
    </div>
        <div class="col-md-6 ">   
        <div
            class="ibox border border-primary rounded p-3 h-100 d-flex justify-content-center flex-column align-items-center">
            <div class="ibox-title">
                <h5> Total  </h5>
            </div>
            <div class="ibox-content">
                <h2 class="font-bold text-primary">
                    <i class="fas fa-dollar-sign"></i> {{object.orden.precio_total}}
                </h2>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row mt-4">
    <div class="col-md-12 mt-2">
        <div class="ibox-content">
            <div>

                <div class="ibox-content mb-4">
                    <a href= "{% url 'imprimirFactura' object.pk %}" class="btn btn-primary pull-right"><i class="fa fa-print" aria-hidden="true"></i>
                        Imprimir</a>
                    <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Volver</button>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}