{% extends 'modal.html' %}
{% load crispy_forms_tags %}

{% block modal_title %} Realizar Pago {% endblock %}

{% block modal_body %}

{% crispy form form.helper %}
<div id="factura-resumen"></div>
<h3> Monto total por pagar: {{ object.total}} </h3>
<h3> Saldo restante por pagar: {{ object.saldo }} </h3>
<input id='input_saldo' type="hidden" data-saldo='{{ object.saldo }}'/>
{% endblock %}

{% block modal_footer %}
<a id="btn-pago" href="#" class="btn btn-primary" data-bs-dismiss="modal">Guardar</a>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    const modal = document.getElementById('modalPagarFactura')
    const input_saldo = document.getElementById('input_saldo')
    const submit_button = document.getElementById('btn-pago')
    const input_monto = document.getElementById('id_monto')

      // configuramos el contenido del modal
      modal.addEventListener('show.bs.modal', (e) => {
        // debugger;
        const btn = e.explicitOriginalTarget || e.relatedTarget;
        $('#facturaPagoForm').attr('action', btn.dataset.bsUrl);
      })

    $('#btn-pago').on('click', (e) => {
      e.preventDefault();
      $('#facturaPagoForm').submit();
    });
    
    /* 
    Permite habilitar o deshabilitar el campo cuotas dependiendo el tipo de pago elegido
    Por defecto en false pero cuando se selecciona tajeta de credito se habilita
    se pone por defecto el num de cuota cuando se elige otro medio de pago que no sea tarjeta de credito
    */
    $('#id_tipo').on('change',(e) => {
      let opcion = $(e.currentTarget).val();
      if (opcion == 2) {
        $('#select_cuota').prop('disabled',false);
        $('#id_monto').prop('readonly', true)
        $('#id_monto').val(input_saldo.dataset.saldo)
      } else {
        $('#select_cuota').prop('disabled',true);
        $('#id_monto').prop('readonly', false)
        $($('#select_cuota')[0].options[0]).prop('selected',true);
      }
      disable_button(submit_button, input_monto.value)
    })

    document.getElementById('id_monto').addEventListener('input', (e) => {
        let value = e.currentTarget.value
        disable_button(submit_button, value)
    })

    function disable_button(button, value, min_value = 0, max_value = parseInt(input_saldo.dataset.saldo)) {
      if (value <= min_value || value > max_value ) {
            button.classList.add('disabled_anchor')
            button.classList.add('btn-secondary')
        } else {
            button.classList.remove('disabled_anchor')
            button.classList.remove('btn-secondary')
        }
    }

  });
</script>
{% endblock %}