{% extends 'template_facturas.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{{titulo}}
{% endblock %}
{% block main %}
<h1>{{titulo}}</h1>

<div class="table-responsive">
  <table class="table table-hover {% if filtros %} sortable{% endif %}">
    <thead>
      <tr>
        {% for sortable in filtros.sortables %}
        <th class="sortable" scope="col" data-s-field={{sortable.0}}>{{sortable.1}}</th>
        {% endfor %}
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for factura in object_list %}
      <tr>
        <td>{{ factura.pk }}</td>
        <td>{{ factura.fecha }}</td>
        <td>{{ factura.orden.cliente }}</td>
        <td>{{ factura.orden.vehiculo }}</td>

        <td>
          <a href="{% url 'detallesFactura' factura.pk %}" class="btn-listado btn-ver">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
              viewBox="0 0 16 16">
              <path
                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
            </svg>
            </svg></a>
          <a href="" data-bs-toggle="modal" data-bs-target="#modalEliminarFactura"
            data-bs-nombre="{{ factura.orden.cliente.nombre }}" data-bs-url="{% url 'eliminarFactura' factura.pk %}"
            class="btn-eliminar btn-listado"><i class="fas fa-trash-alt"></i>
          </a>

        </td>
      </tr>
      {% empty %}
      <tr>
        <td>No hay facturas</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="col-12 d-flex flex-row-reverse mb-4">
  <button type="submit" class="btn btn-primary mt-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download"
      viewBox="0 0 16 16">
      <path
        d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
      <path
        d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
    </svg>
    Descargar listado</button>
</div>


{% endblock %}

{% block filtros%}
<div>
  {% crispy filtros filtros.helper %}
</div>
{% endblock %}

{% block modals %}
{% include './factura_confirm_delete.html' with idModal='modalEliminarFactura' %}
{% endblock %}

{% block extrajs %}
<script>
  conectarBotonesAModal('.btn-eliminar', 'modalEliminarFactura');
</script>
{% endblock %}