{% extends 'modal.html' %}
{% load crispy_forms_tags %}

{% block modal_title %} Realizar Pago {% endblock %}

{% block modal_body %}

{% crispy form form.helper %}
<div id="factura-resumen"></div>
<h3> Monto total por pagar: {{ object.total}} </h3>
<h3> Saldo restante por pagar: {{ object.saldo }} </h3>
{% endblock %}

{% block modal_footer %}
<a id="btn-pago" href="#" class="btn btn-primary" data-bs-dismiss="modal">Guardar</a>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    const element = document.getElementById('modalPagarFactura');

      // configuramos el contenido del modal
      element.addEventListener('show.bs.modal', (e) => {
        // debugger;
        const btn = e.explicitOriginalTarget || e.relatedTarget;
        $('#facturaPagoForm').attr('action', btn.dataset.bsUrl);
      })

    $('#btn-pago').on('click', (e) => {
      e.preventDefault();
      $('#facturaPagoForm').submit();
    });
  });
</script>
{% endblock %}