{% extends 'modal.html' %}
{% load crispy_forms_tags %}

{% block modal_title %} Pago {% endblock %}

{% block modal_body %}
{% crispy form form.helper %}

{% endblock %}

{% block extrajs %}
<!-- <script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    const element = document.getElementById('cantidad');

    // configuramos el contenido del modal
    element.addEventListener('show.bs.modal', (e) => {
      const btn = e.relatedTarget;
      $('#id_cantidad-tarea').val(btn.dataset.idTarea);
      $('#cantidad-resumen').load('/ordenes/detalles-orden/resumen/' + btn.dataset.idTarea);
    })

    $('#btn-cantidad').on('click', (e) => {
      e.preventDefault();
      $('#cantidadForm').submit();
    });
  })
</script> -->
{% endblock %}