{% extends 'template_facturas.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block main %}
<div class="col-8">
    <h3>
        {{ titulo }}
    </h3>
        <div class="col-12">
                <a href="{% url 'pagoDebito' object.pk %}" class="btn btn-success m-1 w-100" id="liveAlertBtn">
                    <i class="fas fa-check-circle"></i> Pagar con debito</a>
                <a href="{% url 'pagoCredito' object.pk %}" class="btn btn-success m-1 w-100" id="liveAlertBtn">
                    <i class="fas fa-check-circle"></i> Pagar con credito</a>
                <a href="{% url 'pagoContado' object.pk %}" class="btn btn-success m-1 w-100" id="liveAlertBtn">
                    <i class="fas fa-check-circle"></i> Pagar al contado</a>           
        </div>
</div>
{% endblock %}