{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taller ChaPin</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </link>
  <link rel="stylesheet" href="{% static 'css/home.css '%}">
  <link rel="stylesheet" href="{% static '/libs/fonts/css/all.min.css' %}">
  <link rel="icon" href="{% static '/images/chapin-icon.png' %}"> 
  <title>{% block title %}{{title}}{% endblock %}</title>
  {% block extracss %}{% endblock %}
</head>

<body>
  {% block container %}

  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/tablas.js' %}"></script>
  <script type="text/javascript" src="{% static '/libs/jquery/jquery-3.1.1.min.js' %}"></script>
  {% comment %} <script src="{% static 'js/inlines.js' %}"></script> {% endcomment %}
  <script src="{% static 'js/custom-inlines.js' %}"></script>
  {% block extrajs %}{% endblock %}
</body>

</html>