{% extends 'base.html' %} 
{% load static %} 

{% block container %} 
    

    <div class="contenedor">
        <div class="encabezado shadow-lg">
            <div class="container">
                <span class="mt-3">
                    <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt logo-salir"></i></a>
                    <!-- Cerrar sesion -->
                </span>
                <img src="{% static '/images/chapin1.png' %}" alt="Taller ChaPin" class="logo-home">
                <p>
                    Taller ChaPin es un taller de reparaciones generales relacionadas a la
                    carrocería de vehículos (chapa, pintura, faros, cristales, tren delantero,
                    etc.) y algunos trabajos de mecánica. Cuenta con personal especializado en
                    cada tarea, y con áreas definidas (Administración, Chapa, Pintura y
                    Mecánica). Su clientela está compuesta por particulares que desean
                    realizar reparaciones a sus vehículos.
                </p>
                <span><i class="fas fa-map-pin"></i> Trelew, Chubut</span>
            </div>
        </div>
        
        <div class="container secciones">
            <div class="row mt-4">
                <div class="col-md-4 seccion taller shadow-lg">
                    <h2><i class="fas fa-wrench"></i> Taller</h2>
                    <p>
                        Sección del sistema en donde se gestiona stock, clientes, vehículos,
                        tareas, materiales, repuestos, empleados, modelos y marcas.
                    </p>
                    <p>
                        <a class="btn btn-primary w-100" href="{% url 'taller_home' %}" role="button">Acceder »</a>
                    </p>
                </div>
                
                <div class="col-md-4 seccion ordenes shadow-lg">
                    <h2><i class="fas fa-receipt"></i> Órdenes</h2>
                    <p>
                        Sección del sistema donde se crean, confirman y amplían presupuestos; se
                        modifican turnos; se cancelan órdenes de trabajo; y se registra el
                        ingreso/egreso de vehículos.
                    </p>
                    <p>
                        <a class="btn btn-primary w-100" href="{% url 'ordenes_home' %}" role="button">Acceder »</a>
                    </p>
                </div>
                
                <div class="col-md-4 seccion facturas shadow-lg">
                    <h2><i class="fas fa-file-invoice-dollar"></i> Facturas</h2>
                    <p>
                        Sección del sistema donde se facturan órdenes de trabajo, se registran
                        pagos, se listan los clientes y se verifican los pagos pendientes.
                    </p>
                    <p>
                        <a class="btn btn-primary w-100" href="{% url 'facturas_home' %}" role="button">Acceder »</a>
                    </p>
                </div>
            </div>

            <div class="row mt-4 justify-content-center">
                <div class="col-md-4 seccion trabajos shadow-lg">
                    <h2><i class="fas fa-tools"></i> Trabajos</h2>
                    <p>
                        Sección del sistema en donde se seleccionan las distintas tareas disponibles, permitiendo registrar el inicio y fin de trabajos.
                    </p>
                    <p>
                        <a class="btn btn-primary w-100" href="https://i.pinimg.com/originals/37/cf/8d/37cf8df9e4dd9dc4b1b0311ad2f5ef2c.gif" role="button">Acceder »</a>
                        <!-- TODO: Hacer listado y agregar el enlace!! -->
                    </p>
                </div>
            </div>


            <!-- <div class="row">
                <div class="col-md-2">
                    <a href="{% url 'logout' %}" class="btn btn-outline-danger w-100 btn-salir" role="button">Salir <i class="fas fa-sign-out-alt"></i></a>
                </div>
            </div> -->
        </div>
    </div>
        
        {% endblock %}
        