{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {{ title }} {% endblock %}
{% block extracss %} 
  <link rel="stylesheet" href="../static/css/login.css">
{% endblock %} 

{% block container %} 

  <main class="form-signin">
    <h1 class="login-title">Taller ChaPin</h1>
    <hr class="divider">

    {% if form.errors or no_user %}
      <p class="error-message">Usuario y/o contraseña incorrecta. Intenta nuevamente.</p>
    {% endif %} 
    {% if next %} 
      {% if user.is_authenticated %}
        <p class="error-message">Tu cuenta no tiene acceso a esta página. Para continuar, por favor inicia sesión con una cuenta con permisos suficientes.</p>
      {% else %}
        <p class="error-message">Inicia sesión para ver esta página.</p>
      {% endif %}
    {% endif %}

    {% crispy form form.helper %}
  </main>
{% endblock %}
