{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'images/chapin-icon.png' %}" alt="Taller ChaPin" class="logo-navbar" />
  </a>

  <div class="collapse navbar-collapse h-100" id="navbarCollapse">

    <!-- Opciones -->
    <div class="btn-group" role="group">
      <a type="button" class="btn btn-primary" href="{% url 'taller_home' %}"><i class="fas fa-wrench"></i> Taller</a>
      <a type="button" class="btn btn-primary" href="{% url 'ordenes_home' %}"><i class="fas fa-receipt"></i> Presupuestos</a>
      <a type="button" class="btn btn-primary" href="{% url 'facturas_home' %}"><i class="fas fa-file-invoice-dollar"></i> Facturas</a>
      <a type="button" class="btn btn-primary" href="{% url 'listados_home' %}"><i class="fas fa-th-list"></i> Listados</a>  
      <a type="button" class="btn btn-primary" href="{% url 'listarDetallesOrden' %}"><i class="fas fa-tools"></i> Trabajos</a>  
    </div>

    <!-- Dropdown de sesión -->
    <ul class="navbar-nav sesion dropstart">
      <li class="nav-item dropdown active">
        <a class="nav-link text-light" href="#" id="dropDownSesion" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user-circle"></i> Sesión
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropDownSesion">
          <li><a class="dropdown-item" href="#"><i class="fas fa-user-cog"></i> Opciones</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>