{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'images/chapin-icon.png' %}" alt="Taller ChaPin" class="logo-navbar" />
  </a>

  <div class="collapse navbar-collapse h-100" id="navbarCollapse">

    <!-- Opciones -->
    <div class="btn-group" role="group">
      {% if perms.taller %}
        <a type="button" class="btn btn-primary" href="{% url 'taller_home' %}"><i class="fas fa-wrench"></i> Taller</a>
      {% endif %}

      <a type="button" class="btn btn-primary" href="{% url 'ordenes_home' %}"><i class="fas fa-receipt"></i> Presupuestos</a>
      
      {% if perms.facturas %}
        <a type="button" class="btn btn-primary" href="{% url 'facturas_home' %}"><i class="fas fa-file-invoice-dollar"></i> Facturas</a>
      {% endif %}

        <a type="button" class="btn btn-primary" href="{% url 'listados_home' %}"><i class="fas fa-th-list"></i> Listados</a>

      {% if perms.ordenes %}  
        <a type="button" class="btn btn-primary" href="{% url 'listarDetallesOrden' %}"><i class="fas fa-tools"></i> Trabajos</a>
      {% endif %}

      {% if perms.content_types.can_view_reportes %}
        <a type="button" class="btn btn-primary" href="{% url 'reportes_home' %}"><i class="fas fa-list"></i> Reportes</a>
      {% endif %}

      </li>  
    </div>


    {% if ayuda %}
      <button type="button" class="btn btn-link">
        <a href="/docs/{{ayuda}}" class="link-light" target="_blank">
          <i class="fa-solid fa-circle-info"></i>
          Ayuda    
        </a>
      </button>
    {% endif %}

    <!-- Dropdown de sesión -->
    <ul class="navbar-nav sesion dropstart">
      <li class="nav-item dropdown active">
        <a class="nav-link text-light" href="#" id="dropDownSesion" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user-circle"></i> Sesión
        </a>
        <ul class="dropdown-menu text" aria-labelledby="dropDownSesion">
                  {% if user.is_authenticated %}
                      <li><span class="dropdown-item-text"><i class="fas fa-user"></i>
                        {% if user.is_superuser %} Administrador  {% else %} {{ user.first_name }} {{ user.last_name }} {% endif %} |
                        {% if user.groups.first is not None %} {{ user.groups.first }} {% else %} n/a {% endif %}</span></li>
                  {% endif %}  
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>