<div class="flex-shrink-0 p-3 bg-white" style="width: 280px">
  <a
    href="/"
    class="
      d-flex
      align-items-center
      pb-3
      mb-3
      link-dark
      text-decoration-none
      border-bottom
    "
  >
    <svg class="bi me-2" width="30" height="24">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-5 fw-semibold">Gestion de Órdenes</span>
  </a>
  <ul class="list-unstyled ps-0">
    <!-- Presupuestos -->
    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#presupuestos-collapse"
        aria-expanded="false"
      >
        Presupuestos
      </button>

      <!-- Desplegable de presupuestos -->
      <div class="collapse" id="presupuestos-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <a href="{% url 'listarPresupuestos' %}" class="link-dark rounded"
              >Listar presupuestos</a
            >
          </li>
          <li>
            <a href="{% url 'crearPresupuesto' %}" class="link-dark rounded"
              >Crear presupuesto</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#turnos-collapse"
        aria-expanded="false"
      >
        Turnos y órdenes
      </button>

      <!-- Desplegable de turnos-->
      <div class="collapse" id="turnos-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <a href="{% url 'calendarioTurnos' %}" class="link-dark rounded"
              >Calendario de turnos</a
            >
          </li>
          <li>
            <a href="{% url 'listarOrdenes' %}" class="link-dark rounded"
              >Listar Órdenes de trabajo </a
            >
          </li>
          {% if perms.ordenes.can_registrar_ingreso %}
          <li>
            <a
              href="{% url 'registrarIngresoVehiculo' %}"
              class="link-dark rounded"
              >Registrar ingreso de vehiculo</a
            >
          </li>
          {% endif %}
          <li>
            <a
              href="{% url 'registrarEgresoVehiculo' %}"
              class="link-dark rounded"
              >Registrar entrega de vehiculo</a
            >
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
