<div class="flex-shrink-0 p-3 bg-white" style="width: 280px">
  <a
    href="/"
    class="
      d-flex
      align-items-center
      pb-3
      mb-3
      link-dark
      text-decoration-none
      border-bottom
    "
  >
    <svg class="bi me-2" width="30" height="24">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-5 fw-semibold">Gestion de taller</span>
  </a>
  <ul class="list-unstyled ps-0">
    <ul class="list-unstyled ps-0">

      <!-- Clientes -->
      <li class="mb-1">
        {% if perms.taller.view_cliente %}
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#clientes-collapse" aria-expanded="false">
          Clientes
        </button>
        
        <!-- Desplegable de clientes -->
        <div class="collapse" id="clientes-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {% if perms.taller.view_cliente %}
            <li>
              <a href="{% url 'listarClientes' %}" class="link-dark rounded">Listado de clientes</a>
            </li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
      </li>
    
    <!-- Vehículos -->
    <li class="mb-1">
      {% if perms.taller.view_vehiculo %}
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
        data-bs-target="#vehiculos-collapse" aria-expanded="false">
        Vehículos
      </button>

      <!-- Desplegable de vehículos -->
      <div class="collapse" id="vehiculos-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        {% if perms.taller.view_vehiculo %}
          <li>
            <a href="{% url 'listarVehiculos' %}" class="link-dark rounded">Listar vehículos</a>
          </li>
        {% endif %}
        </ul>
      </div>
      {% endif %}
    </li>

    <!-- Tareas -->
    <li class="mb-1">
      {% if perms.taller.view_tarea %}
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#tareas-collapse"
        aria-expanded="false"
      >
        Tareas
      </button>

      <!-- Desplegable de tareas -->
      <div class="collapse" id="tareas-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          {% if perms.taller.add_tarea %}
          <li>
            <a href="{% url 'crearTarea' %}" class="link-dark rounded">Registrar una tarea</a>
          </li>
          {% endif %}
          {% if perms.taller.view_tarea %}
          <li>
            <a href="{% url 'listarTareas' %}" class="link-dark rounded">Listar tareas</a>
          </li>
          {% endif %}
          {% if perms.taller.add_tipotarea %}
          <li>
            <a href="{% url 'crearTipoTarea' %}" class="link-dark rounded">Registrar un tipo de tarea</a>
          </li>
          {% endif %}
          {% if perms.taller.view_tipotarea %}
          <li>
            <a href="{% url 'listarTipoTarea' %}" class="link-dark rounded">Listar tipos de tareas</a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
    </li>

    <!-- Materiales -->
    <li class="mb-1">
      {% if perms.taller.view_material %}
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#materiales-collapse"
        aria-expanded="false"
      >
        Materiales
      </button>

      <!-- Desplegable de materiales -->
      <div class="collapse" id="materiales-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          {% if perms.taller.add_tipomaterial %}
          <li>            
            <a href="{% url 'crearTipoMaterial' %}" class="link-dark rounded"
              >Registrar un tipo de material</a>
          </li>
          {% endif %}
          {% if perms.taller.view_tipomaterial %}
          <li>
            <a href="{% url 'listarTipoMateriales' %}" class="link-dark rounded"
              >Listar tipos de materiales</a>
          </li>
          {% endif %}
          {% if perms.taller.view_material %}
          <li>
            <a href="{% url 'listarMateriales' %}" class="link-dark rounded">Listar Materiales</a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
    </li>

    <!-- Repuestos -->
    <li class="mb-1">
      {% if perms.taller.view_repuesto %}
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#repuestos-collapse"
        aria-expanded="false"
      >
        Repuestos
      </button>

      <!-- Desplegable de repuestos -->
      <div class="collapse" id="repuestos-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          {% if perms.taller.view_repuesto %}
          <li>
            <a href="{% url 'listarRepuestos' %}" class="link-dark rounded">Listar repuestos</a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
    </li>

   <!-- Empleados -->
   <li class="mb-1">
    {% if perms.taller.view_empleado %}
    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#empleados-collapse" aria-expanded="false">
      Empleados
    </button>

    <!-- Desplegable de empleados -->
    <div class="collapse" id="empleados-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        {% if perms.taller.view_empleado %}
        <li>
          <a href="{% url 'listarEmpleados' %}" class="link-dark rounded">
            Lista de empleados</a>
        </li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
    </li>

    <!-- Modelos -->
    <li class="mb-1">
      {% if perms.taller.view_modelo %}
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#modelos-collapse"
        aria-expanded="false"
      >
        Modelos
      </button>

      <!-- Desplegable de modelos -->
      <div class="collapse" id="modelos-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          {% if perms.taller.add_modelo %}
          <li>
            <a href="{% url 'crearModelo' %}" class="link-dark rounded"
              >Registrar un modelo</a
            >
          </li>
          {% endif %}
          {% if perms.taller.view_modelo %}
          <li>
            <a href="{% url 'listarModelos' %}" class="link-dark rounded"
              >Listar modelos</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
    </li>

    <!-- Marcas -->
    <li class="mb-1">
      {% if perms.taller.view_marca %}
      <button
        class="btn btn-toggle align-items-center rounded collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#marcas-collapse"
        aria-expanded="false"
      >
        Marcas
      </button>

      <!-- Desplegable de marcas -->
      <div class="collapse" id="marcas-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          {% if perms.taller.add_marca %}
          <li>
            <a href="{% url 'crearMarca' %}" class="link-dark rounded"
              >Registrar una marca</a
            >
          </li>
          {% endif %}
          {% if perms.taller.view_marca %}
          <li>
            <a href="{% url 'listarMarcas' %}" class="link-dark rounded"
              >Listar marcas</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </li>
    {% endif %}
  </ul>
</div>
