{% extends 'main.html' %} {% load static %} {% block extracss %}
<link rel="stylesheet" href="{% static 'libs/bootstrap/css/sidebars.css' %}" />
<link rel="stylesheet" href="{% static 'css/accesos-directos.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

{% endblock %} {% block container %} {% block nav %} {% include 'nav_taller.html' with ayuda=ayuda %} {% endblock %}

<div class="container-fluid">
  <div class="row d-flex justify-content-center">    
          <div class="col-5 mt-4">
            {% block main %}
      
            <h2 class="mt-3">
              <a href="{% url 'home' %}"><i class="fas fa-arrow-left atras"></i></a>
              Accesos directos
            </h2>
      
            <div class="row mt-4 d-flex justify-content-evenly align-items-center">
              
              <a href="{% url 'reporteMarcasVehiculos' %}" class="col-md-3 shadow-lg acceso">
                <h2><i class="fas fa-list"></i> Marcas de vehiculos mas recurrentes </h2>

              </a>
              <div class="row mt-4 d-flex justify-content-evenly align-items-center">
              
              <a href="" class="col-md-3 shadow-lg acceso">
                  <h2><i class="fas fa-list"></i> Working...</h2>
              </a>
      
          
      {% endblock %}
    </div>

    {% comment %} <div class="col-2 mt-5 mr-4">
      {% block filtros %} 

      {% endblock %}
    </div> {% endcomment %}
  </div>
</div>

{% block modals %} {% endblock %}



{% endblock %}

