{% extends 'main.html' %} {% load static %} {% block extracss %}
<link rel="stylesheet" href="{% static 'libs/bootstrap/css/sidebars.css' %}" />
<link rel="stylesheet" href="{% static 'css/accesos-directos.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/reportes_forms.css' %}">

{% endblock %} {% block container %} {% block nav %} {% include 'nav_taller.html' with ayuda=ayuda %} {% endblock %}

<div class="container-fluid">
  <div class="row mt-4 d-flex justify-content-center align-items-center">
          <div class="col-8 mt-4">
            {% block main %}
        
            <div class="row mt-4 d-flex justify-content-center align-items-center">
                <a href="{% url 'reporte_marcas_vehiculos' %}" class="col-md-3 shadow-lg acceso">
                  <h2><i class="fa-solid fa-chart-pie"></i> Marcas de vehiculos mas recurrentes </h2>
                  <p>
                    <i class="fa-solid fa-circle-info"></i> Reporte sobre las marcas de vehiculos mas recurrentes del taller.
                  </p>

                </a>

                <a href="{% url 'reporte_facturacion' %}" class="col-md-3 shadow-lg acceso">
                    <h2><i class="fa-solid fa-chart-pie"></i> Facturación</h2>
                    <p>
                      <i class="fa-solid fa-circle-info"></i> Reporte sobre la facturación en un período de tiempo determinado.
                    </p>
                </a>

                <a href="{% url 'reporte_productividad' %}" class="col-md-3 shadow-lg acceso">
                  <h2><i class="fa-solid fa-chart-pie"></i> Productividad</h2>
                  <p>
                    <i class="fa-solid fa-circle-info""></i> Reporte sobre la productuvidad de los empleados.
                  </p>
                </a>

                <a href="{% url 'reporte_ordenes' %}" class="col-md-3 shadow-lg acceso">
                  <h2><i class="fa-solid fa-chart-pie"></i> Ordenes</h2>
                  <p>
                    <i class="fa-solid fa-circle-info""></i> Reporte de media de tiempo de ordenes de trabajo.
                  </p>
                </a>

                <a href="{% url 'reporte_clientes' %}" class="col-md-3 shadow-lg acceso">
                  <h2><i class="fa-solid fa-chart-pie""></i> Clientes</h2>
                  <p>
                    <i class="fa-solid fa-circle-info"></i> Reporte de cantidad de trabajos realizados a clientes y sus facturaciones.
                  </p>
                </a>


              </div>
            {% endblock %}
          </div>
        </div>
</div>



{% endblock %}

