.contenedor{
    background-image: url('../images/taller-blur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.encabezado{
    padding: 1.5rem;
    background-color: #0D6EFD;
    transition: background-color .5s;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.encabezado *{
    color: white;
}

.encabezado:hover{
    background-color: #0B5ED7;
    transition: background-color .5s;
}

.secciones{
    margin-top: 8rem;
}

.seccion{
    padding: 1.3rem 1rem 0rem 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
    /* transition: background-color .5s; */
    transition: all 0.2s ease;
}

.seccion:hover{
    /* transition: background-color .5s; */
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.05);
    border-radius: .3rem;
}

.taller{
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.facturas{
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.taller:hover{
    background-color: rgb(139, 183, 219);
}

.ordenes:hover{
    background-color: rgb(241, 79, 79);
}

.facturas:hover{
    background-color: rgb(116, 197, 113);
}

.btn-salir{
    margin-top: 6rem;
}

.logo{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 2rem;
}