{% extends 'template_reportes_home.html' %}
{% load static %}

{% block main %}
<div class="">
  <h3>{{ titulo }}</h3>
  <div id="container_horas-trabajo" class="mt-4">
    <canvas id="horas-trabajo" height="200"></canvas>
  </div>
</div>

<form>
  <fieldset class="form_reportes p-4">
    <legend>Visualización</legend>
    <div class="d-flex justify-content-evenly">
      <label>
        <input type="radio" name="tipo" value="1"
        class="radio_tipo_tarea"> Tareas del taller
      </label>
      <label>
        <input type="radio" name="tipo" value="2"
        class="radio_tipo_tarea"> Tareas de pintura
      </label>
    </div>
  </fieldset>
</form>

<h3>Datos</h3>
{% include "./tabla_datos.html" %}

{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script src="{% static 'reportes/js/reporte_horas_trabajo.js' %}" type="module"></script>
{% endblock %}

{% endblock %}